body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.error-msg{
  color: #f50;
  padding-left:10px;
  padding-top:10px;
}
.fixd-header.am-navbar{
	position: fixed;
	top: 0;
	width: 100%;
}
.am-tab-bar{
	position: fixed;
	bottom: 0;
  width: 100%;
  height: auto;
}
.page-content{
  padding: 45px 5px;
}
#chat-page .page-content{
  padding: 0 0 10px 0;
  overflow-y: scroll;
  overflow: -moz-scrollbars;
  -webkit-overflow-scrolling: touch;
}
#chat-page .am-grid-icon{
  display: none;
}
#chat-page .am-grid-text{
  margin-top: 0;
}
.stick-footer{
  /* position: fixed; */
  /* z-index: 1; */
  width: 100%;
  /* bottom: 0; */
}
.chat-me.am-list-item .am-list-line .am-list-content{
  text-align: right;
  padding-right: 15px;
}
.chat-me.am-list-item .am-list-line .am-list-extra{
  flex-basis: auto;
}
.chat-me.am-list-item .am-list-line-wrap{
  word-break: break-all;
}
#usercard-page .usercard-item{
  word-break: break-all;
  padding-bottom: 5px;
}